<div class="row">
	<div class="title col-md-10 col-md-offset-1">人职匹配模型的实现</div>
</div>
<div class="row">
	<div class="title2 col-md-10 col-md-offset-1">Node-jobMatch组件演示</div>
</div>
<div class="row">
	<div class=" col-md-10 col-md-offset-1 ">
		<div class="col-sm-6">
			<button type="button" class="btn btn-block btn-primary" onclick="window.location.href='/demo'">查看demo</button>
		</div>
		<div class="col-sm-6">
			<button type="button" class="btn btn-block btn-primary" onclick="window.location.href='https://github.com/agesora/jobMatching'">view on github</button>
		</div>
	</div>
</div>
